//Colours
$black: #1E252C;
$beige: #F4EBDE;
$brown: #BA875C;
$darkbeige: #7D745E;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;
$sairaCondensed: 'Saira Extra Condensed', sans-serif;
$yeseva-one: 'Yeseva One', sans-serif;
$karla: 'Karla', sans-serif;

//Media
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


// Media from breakpoint

$from-sm: 'min-width: #{map-get($grid-breakpoints, sm)}';
$from-md: 'min-width: #{map-get($grid-breakpoints, md)}';
$from-lg: 'min-width: #{map-get($grid-breakpoints, lg)}';
$from-xl: 'min-width: #{map-get($grid-breakpoints, xl)}';
$from-xxl: 'min-width: #{map-get($grid-breakpoints, xxl)}';

// Media to breakpoint

$to-sm: 'max-width: #{map-get($grid-breakpoints, sm)}';
$to-md: 'max-width: #{map-get($grid-breakpoints, md)}';
$to-lg: 'max-width: #{map-get($grid-breakpoints, lg)}';
$to-xl: 'max-width: #{map-get($grid-breakpoints, xl)}';
$to-xxl: 'max-width: #{map-get($grid-breakpoints, xxl)}';