@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Raleway:400,500,600,700,800,900|Roboto:400,500,700,900|Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$black: #1E252C;
$beige: #F4EBDE;
$brown: #BA875C;
$darkbeige: #7D745E;
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;
$sairaCondensed: 'Saira Extra Condensed', sans-serif;
$yeseva-one: 'Yeseva One', sans-serif;
$karla: 'Karla', sans-serif;

html, body {
  font-family: $karla;
  letter-spacing: 1.5px;
  scroll-behavior: smooth;
}

p {
    color: #0f0f0f;
}

hr {
  border-top: 1px solid $black;
}

.side {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14.03px;
    letter-spacing: 0.15rem;
    padding: 1rem 2rem;
    color: $black;
    transform: rotate(180deg);
  }
  .line {
    width:1px;
    height: 35px;
    margin: 0 auto;
    border-right: 1px solid black;
  }
}

.title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 35px;
  }
  h5 {
    font-size: 18px;
    line-height: 21.04px;
    letter-spacing: 0.15rem;
    color: $black;
  }
  p {
    letter-spacing: 15%;
    line-height: 15px;
    font-size: 10px;
  }
  a {
    color: $black;
    opacity: 1;
    transition: 0.2s all;

    &:hover {
      color: lighten($black,10%);
    }
  }
  .container {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
  }
  .title-content {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
  }
  .sub-text {
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 15%;
    text-align: center;
  }
  a.button {
    background: $black;
    color: white;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 16.37px;
    letter-spacing: 13.5%;
    width: auto;
    &:hover {
      background-color: lighten($black, 10%);
    }
  }
  .about {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.03px;
    letter-spacing: 15%;
  }
  .profession {
    .line {
      content:'';
      display: inline-block;
      width: 20px;
      height: 1px;
      margin: auto 0;
      vertical-align:middle;
      border-top: 1px solid lighten($black, 70%);
    }
  }
}

.scroll {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  .dots {
    p {
      letter-spacing: 0.2em;
      font-size: 0.7em;
    }
    #dot1 {
      background: $black;
      width:5px;
      height:5px;
      border-radius: 50%;
      margin: 0.7em auto;
    }
    #dot2 {
      background: $black;
      width:8px;
      height:8px;
      border-radius: 50%;
      margin: 0.7em auto;
    }
    #dot3 {
      background: $black;
      width:11px;
      height:11px;
      border-radius: 50%;
      margin: 0.7em auto;
    }
  }

}

.navigation {
  background-color: white;
  box-shadow: 0 1px 1px rgba(206,165,107,0.12),
            0 2px 2px rgba(206,165,107,0.12);
  a {
    color: $black;
    // margin: 1.25em 1.5em;
    font-size: 12px;
    line-height: 14.03px;
    letter-spacing: 0.15rem;
  }
  .dropdown-toggle::after {
    border-style: none;
  }
}

.contact {
  min-height: 100vh;
  h1 {
    font-size: 7rem;
    font-family: $yeseva-one;
  }
  a {
    color: $black;
    transition: 0.2s all;
    &:hover {
      color: darken($beige, 30%);
    }
  }
  .content {
    height: 100%;
  }
  .button {
    background: $black;
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    border-radius: 2px;
    padding:1.75em 6em;
    &:hover{
      background-color: darken($beige, 30%);
      color: white;
      opacity: 0.6;
      text-decoration: none;
    }
  }

}

.about {
  position: relative;
  margin-top: 139px;
  h1 {
    font-size: 4rem;
    font-family: $yeseva-one;
  }
  a {
    color: $brown;
    transition: 0.3s all;
    text-decoration: underline;
    &:hover {
      color: darken($brown, 10%);
    }
  }
  a.return {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.03px;
    letter-spacing: 0.15rem;
  }
  p {
      letter-spacing: 1px;
      line-height: 31.5px;
      font-size: 18px;
      font-weight: 400;
  }

  .content {
    height: 100%
  }
  .button {
    background: $black;
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    border-radius: 2px;
    padding:1.75em 6em;
    &:hover{
      background-color: darken($beige, 30%);
      color: white;
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.img-bg {
   p {
     font-size: 10px;
     line-height: 11.69px;
     letter-spacing: 0.15rem;
   }
  .icons {
    margin-top: 77px;
  }
}

.work {
  width: 80%;
  min-height: 100vh;
  h1 {
    font-family: $yeseva-one;
    font-size: 3em;
  }
  h2 {
      font-family: $yeseva-one;
      font-size: 6em;
  }
  a {
    color: $black;
    transition: 0.2s all;
    font-size: 0.8em;
    &:hover {
      color: darken($beige, 30%);
      text-decoration: none;
    }
  }
  p {
      letter-spacing: 1px;
  }
  button {
    background: white;
    border-style: none;
    transition: 0.2s all;
    &:hover {
      font-weight: bold;
      border-style: none;
      box-shadow: 0 1px 1px rgba(206,165,107,0.12),
                0 2px 2px rgba(206,165,107,0.12),
                0 4px 4px rgba(206,165,107,0.12),
                0 8px 8px rgba(206,165,107,0.12);
    }
    // &:focus {
    //   font-weight: bold;
    //   border-style: none;
    //   box-shadow: 0 1px 1px rgba(206,165,107,0.12),
    //             0 2px 2px rgba(206,165,107,0.12),
    //             0 4px 4px rgba(206,165,107,0.12);
    // }
    }
  .back-button {
    font-size: 2.5em;
    border: 1px solid $black;
    border-radius: 2px;
    &:hover {
        border: 1px solid $beige;
    }
  }
  .piece {
    transition: 0.3s transform;
    transition-timing-function: ease-in-out;
    position:relative;

    img {
      border-radius: 5px;
      object-fit: cover;
    }
    &:hover {
      transform: translateY(-3px);
    }
    .over {
      p, h1 {
        color: rgba(255, 255, 255, 0);
        transition: 0.3s all;
      }
      p {
        font-size: 0.8em;
      }
      top:0px; position: absolute;
      width: 100%; height: 100%;
      background: rgba(125, 116, 94, 0);
      border-radius: 5px;
      transition: 0.3s all; transition-timing-function: ease-in-out;
      &:hover {
        background: rgba(125, 116, 94, 0.9);
        p, h1 { color: rgba(255, 255, 255, 1); }
      }
    }
  }

    .content {
        font-family: $karla;
        h1 {
          font-size: 2em;  font-family: $yeseva-one;
          padding-bottom: 1rem;
        }
        h2 {
          font-size: 1.8em; font-family: $karla;
        }
        img {
            transition: transform 0.3s ease-out;
            &:hover {
                transform: scale(1.01);
            }
        }
    }

    input[type=checkbox] {
        appearance: none;
        -moz-appearance: none;
    }
    .checkbox-filter {
        padding: 2px 10px;
        border: 1px solid $black;
        color: black;
        &:after {
            content: attr(name);
        }
        &:hover {
            border: 1px solid darken($beige, 30%);
            color: darken($beige, 30%);
        }
        &:focus {
            outline: none;
            border: 2px solid darken($beige, 30%);
            &:hover {
                border: 2px solid darken($beige, 30%);
            }
        }
        &:checked {
            border: 2px solid $black;
            &:after {
                font-weight: bold;
                content: attr(name) ' x';
            }
        }
    }
    .scrolling-content {
        overflow-y: scroll;
        height: 400px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $darkbeige;
        }
    }
}

.call-to-action {
  background: $black;
  & * {
    color: white;
  }
  h1 {
    font-family: $yeseva-one; font-size: 70px;
    color: white;
  }
  a {
    color: white;
    letter-spacing: 0.2em;
    border: 1px solid white;
    padding: 1em 1.5em;
    transition: 0.2s all;
    &:hover {
      border: 1px solid darken($beige, 30%);
      color: darken($beige, 30%);
      text-decoration: none;
    }
  }
}

.footer {
  border-top: 1px solid $black;
  p {
    letter-spacing: 0.2em;
    font-size: 1em;
    .smaller {
      font-size: 0.6em;
    }
    .bigger {
      font-size: 1.4em;
    }
  }
  a {
    color: $black;
    transition: 0.2s all;
    &:hover {
      color: darken($beige, 30%);
    }
  }
}

@media (max-width: 576px) {
  .contact {
    h1 {
      font-size: 3em;
    }
    .button {
      background: $black;
      color: white;
      font-size: 0.9em;
      letter-spacing: 0.2em;
      border-radius: 2px;
      padding:1.75em 3em;
      &:hover{
        background-color: darken($beige, 30%);
        color: white;
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  .work {
    width: 100%;
    h2 {
      font-size: 3em;
    }
    .back-button {
      font-size: 1.5em;
      border: 1px solid $black;
      border-radius: 2px;
      &:hover {
          border: 1px solid $beige;
      }
    }
  }
  .call-to-action {
    h1 {
      font-family: $yeseva-one; font-size: 3em;
      color: white;
    }
  }
  .title {
    .profession {
      p {
        font-size: 0.8em;
      }
    }
  }
  .scroll {
    .dots {
      p {
        letter-spacing: 0.1em;
        font-size: 0.5em;
      }
      #dot1 {
        width:3px;
        height:3px;
        margin: 0.3em auto;
      }
      #dot2 {
        width:5px;
        height:5px;
        margin: 0.3em auto;
      }
      #dot3 {
        width:8px;
        height:8px;
        margin: 0.3em auto;
      }
    }

  }
}

.side {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14.03px;
    letter-spacing: 0.15rem;
    padding: 1rem 2rem;
    color: $black;
    transform: rotate(180deg);
  }
  .line {
    width:1px;
    height: 35px;
    margin: 0 auto;
    border-right: 1px solid black;
  }
}

@media (max-width: 768px) {
  .about {
    h1 {
      font-size: 4rem;
    }
  }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
