.call-to-action {
    background: $black;
    & * {
      color: white;
    }
    h1 {
      font-family: $yeseva-one; font-size: 4.5rem;
      color: white;
    }
    a {
      color: white;
      letter-spacing: 0.2em;
      border: 1px solid white;
      padding: 1em 1.5em;
      transition: 0.2s all;
      &:hover {
        border: 1px solid darken($beige, 30%);
        color: darken($beige, 30%);
        text-decoration: none;
      }
    }
  }