<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/1e2ea4be44.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <title>Madeleine Chappell's Website | Designer - Artist - Game Dev</title>


  </head>
  <body>
    <!-- Content -->
    <div class="header">
      <div class="side">
        <div class="d-none d-sm-none d-md-block">
          <p>Game Dev</p>
          <div class="line"></div>
          <p>Artist</p>
          <div class="line"></div>
          <p>Designer</p>
        </div>
      </div>
      </div>
      <div class="title" id="home">
        <div class="container">
          <div class="row d-flex mb-5 justify-content-center d-block d-sm-block d-md-none">
            <div class="col-12 text-center">
              <div class="profession">
                <p>Designer <span class="line">&nbsp;</span> Artist <span class="line">&nbsp;</span> GameDev</p>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-10 text-center">
              <img src="./img/logo.png" class="mx-auto d-block" width="90">
              <hr class="my-4">
              <p class="mb-4">MADELEINE CHAPPELL</p>
              <h2 class="social">
                <a href="https://www.linkedin.com/in/madeleine-chappell/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action -->
    <!-- <div class="call-to-action mb-5">
      <div class="container-fluid py-5">
        <div class="row py-5">
          <div class="col-12 d-md-flex align-items-md-center justify-content-md-center text-center">
            <h1 class="d-block mb-5 mt-0 my-md-5">interested in my work?</h1>
            <a href="./contact.html" class="d-block mx-5">CONTACT ME</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Content -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
